.organisations_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.organisations_container .title {
    margin: 0;
    font-size: 35px;
}

.organisations_container .orgList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* ✅ responsive grid */
    gap: 16px; /* space between items */
    align-items: start;
    padding: 8px 0;
}